:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.h-one-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.h-two-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.h-three-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.button-text {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
}
.logo-light {
  color: var(--cloud);
}
.logo-dark {
  color: var(--navy-blue);
}
.footer {
  font-weight: 500;
  background-color: var(--navy-blue);
}
.footer-text {
  font-weight: 400;
  color: var(--cloud);
  width: 264px;
}

/* ==============================./index.html============================== */

/* ------------------------------header------------------------------ */
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  height: 72px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}
.header-nav {
  display: flex;
  gap: 76px;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-content {
  color: var(--navy-blue);
  font-weight: 500;
}
.nav-list-content:hover,
.nav-list-content:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
  display: flex;
  align-self: center;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.address-list-content {
  font-weight: 400;
  color: var(--slate);
}
.address-list-content:hover,
.address-list-content:focus {
  color: var(--ocean);
}
/* ------------------------------herro------------------------------ */
.herro {
  background-color: var(--navy-blue);
}
.herro-container {
}
.herro-title {
  color: var(--white);
  width: 496px;
  text-align: center;
}
.herro-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.herro-button:hover,
.herro-button:focus {
  background-color: var(--ocean);
}
/* ------------------------------benefits------------------------------ */
.benefits-list-title {
  color: var(--navy-blue);
}
/* ------------------------------product-section------------------------------ */
.product-section-title {
  color: var(--navy-blue);
  text-align: center;
}
/* ------------------------------team-secrion------------------------------ */
.team-secrion {
  background-color: var(--cloud);
}
.team-title {
  text-align: center;
  color: var(--navy-blue);
}
.team-list-item {
  background-color: var(--white);
}
.team-list-title {
  color: var(--navy-blue);
}

/* ==============================portfolio.html============================== */
.product-nav-button {
  background-color: var(--light);
  color: var(--iris);
  cursor: pointer;
}
.product-nav-button:hover,
.product-nav-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.product-list-title {
  color: var(--navy-blue);
}
.product-list-text {
  color: var(--slate);
}
